<div id="container">
    <header>
        <app-logo></app-logo>
        <div class="game-name">{{ gameData.name }}</div>
        <div class="controls">
            <button class="leave-btn" (click)="leave()">Leave</button>
        </div>
    </header>
    <main>
        <app-status-bar [errorMessage]="errorMessage" [gameState]="gameData.state" [activePlayer]="gameData.players[gameData.activeSymbol]"></app-status-bar>
        <app-game-board [board]="gameData.board" [errorCallback]="setError"></app-game-board>
        <div class="rematch" *ngIf="isFinished()">
            <button class="rematch-btn" (click)="rematch()">rematch!</button>
        </div>
        <div class="side-panel">
            <app-player-card class="player-O" [player]="gameData.players.O"></app-player-card>
            <app-player-card class="player-X" [player]="gameData.players.X"></app-player-card>
            <div class="chat">
                <div class="messages">
                    <p class="message"  *ngFor="let message of messages" [ngClass]="message.sender == 'RICO5k' ? 'outgoing': ''">
                        {{ message.content }}
                    </p>
                </div>
                <form>
                    <input type="text" placeholder="Your message..">
                    <button type="submit">send</button>
                </form>
            </div>
        </div>
    </main>
</div>