.player-card {
    height: 100%;

    background-color: var(--dark-2);

    text-align: center;
}

.wrapper {
    display: flex;
}

.name {
    padding: 0.5em;

    background-color: var(--dark-1);
    color: var(--light-1);

    font-size: 1.5em;
    
    overflow: hidden;
}

.symbol, .win-count {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol span {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-1);
    
    font-size: 2em;
    font-family: 'Permanent Marker', 'Roboto';

    border-radius: 50%;
}

.win-count {
    color: var(--light-1);

    font-size: 2em;
}