.playerCard {
    width: 200px;
    height: 200px;

    border: 1px solid black;
}

h3 {
    height: 30%;
}

.playerSymbol {
    height: 70%;
}

.symbol {
    height: 75px;
    width: 75px;
    font-size: 3rem;
    background-color: #eee;
    border-radius: 50%;
}

h3, .playerSymbol, .symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}