#join {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    font-size: 1.4rem;
    background-color: red;
    color: white;
}

.joinBtn {
    font-size: 1.5rem;
}

.errorBox {
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 5px;
}