@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf')  format('truetype'); 
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Light.ttf')  format('truetype'); 
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Thin.ttf')  format('truetype'); 
    font-weight: 200;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F5F3F4;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --light-1: #ffffff; 
    --light-2: #f0f0f0;
    --light-3: #d0d0d0;
    --light-4: #b9b9b9;

    --dark-1: #525252;
    --dark-2: #414141;
    --dark-3: #373737;
    --dark-4: #313131;
    --dark-5: #0B090A;

    --main-1: #993333;
    --main-2: #BA181B;

    --bonus-1: #3d588b;
    --bonus-2: #34486C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--dark-5);
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}
