<div id="container">
    <header>
        <app-logo></app-logo>
        <div>
            <input type="text" placeholder="Searched game..." #keyword (keyup)="filterGames(keyword.value)">
        </div>
        <select #sorting (change)="applySorting(sorting.value)">
            <option value="{{method}}" *ngFor="let method of sortingMethods">
                {{formatSortingMethodName(method)}}
            </option>
        </select>
        <button (click)="logout()">logout</button>
    </header>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
    <div>
        <div *ngIf="filteredGames.length == 0">no games found</div>
        <div *ngFor="let game of filteredGames | gamesSorting:activeMethod">
            <div>{{game.name}}</div>
            <div>
                <div>
                    <span>x</span>
                    {{game.players.X ? game.players.X : "empty&nbsp;slot"}}
                </div>
                <div>
                    <span>o</span>
                    {{game.players.O ? game.players.O : "empty&nbsp;slot"}}
                </div>
            </div>
            <div>
                <button (click)="joinGame(game.id)">Join</button>
            </div>
        </div>
    </div>
</div>