#container {
    height: 100vh;

    display: grid;
    grid: minmax(10vh, min-content) auto / auto;    

    background-color: var(--dark-3);
}

.menu .menu-item.logout:hover,
.menu .menu-item.logout:focus,
.game .controls .play:hover, 
.game .controls .play:focus {
    filter: brightness(1.2);
} 

/* HEADER */

header {
    padding: 1em;

    display: flex;
    align-items: center;
    gap: 1em;
    
    background-color: var(--main-1);
}

app-logo {
    font-size: min(1em, 5vw);
}

.games-filter {
    width: 20em;
    margin: 0 auto;
}

.games-filter input {
    width: 100%;
    padding: 0.6em;

    background-color: var(--light-2);

    border: none;
    outline: none;
}

.games-filter input:focus {
    background-color: var(--light-1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* MENU */

.menu {
    position: relative;

    display: inline-block;
}

.menu button {
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;
}

.menu .menu-trigger {
    width: 3em;
    height: 3em;

    background-color: var(--main-1);
    color: var(--light-1);

    text-align: center;
}

.menu.active .menu-items {
    display: block;
}

.menu.active .menu-trigger,
.menu:focus-within .menu-trigger,
.menu .menu-trigger:hover,
.menu .menu-item:focus,
.menu .menu-item:hover {
    background-color: var(--bonus-1);
    color: var(--light-1);
}

.menu .menu-items {
    position: absolute;
    right: 0;

    display: none;

    background-color: var(--dark-1);

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .separator {
    height: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.menu .menu-item {
    width: 100%;
    min-width: 15em;
    max-width: 20em;
    padding: 1em 2em;

    color: var(--light-3);

    text-align: center;
    text-transform: capitalize;
}

.menu .menu-item.logout {
    background-color: var(--main-1);
}

/* MESSAGE */

.message {
    padding: 1em 0;

    background-color: var(--dark-2);
    color: var(--main-2);

    text-align: center;
    font-size: 1.2em;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

main .games {
    overflow-y: scroll;
}

main .games .games-wrapper {
    padding: 2em;

    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    justify-items: center;
    align-items: center;
}

main .games-empty {
    margin: 1em;
    padding: 1em 0.5em;

    background-color: var(--dark-2);
    color: var(--light-3);

    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

main .game {
    position: relative;

    display: grid;
    grid-template-rows: min-content auto min-content;

    width: 100%;
    height: 100%;

    background-color: var(--dark-4);

    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.4);
}

.game .name {
    padding: 1em 0.5em;

    background-color: var(--dark-2);
    color: var(--light-3);

    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.game .players {
    padding: 1.5em 0.5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.game .player {
    color: var(--light-1);

    font-size: 1.5em;
}

.game .players span {
    margin: 0.1em;

    color: var(--main-1);

    font-family: 'Permanent Marker', 'Roboto';
    font-size: 2.5em;
}

.game .controls {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

.game .controls button {
    display: block;
    padding: 0.5em 0.75em;

    color: var(--light-1);
    
    font-size: 1em;

    border: none;
    outline: none;
    cursor: pointer;
}

.game .controls .play {
    width: 60%;

    background-color: var(--main-1);
}

/* MEDIA TABLET */

@media screen and (max-width: 768px) {

    /* HEADER */

    .menu {
        font-size: 1.15em;
    }

    .games-filter {
        /* display: none; */
        width: auto;
        flex-grow: 0.5;
    }

    /* MAIN */

    main .games {
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    }

}