.board {
    display: grid;
    grid: repeat(3, min(1.25em, 250px)) / repeat(3, min(1.25em, 250px));

    border: 0.05em solid var(--dark-3);
}

.tile:nth-child(2n) {
    background-color: var(--dark-3);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--dark-2);
    color: var(--main-1);

    font-family: 'Permanent Marker', 'Roboto';
    
    outline: none;
    border: none;
    cursor: pointer;
}

.tile:focus,
.tile:hover {
    background-color: var(--dark-4) !important;
}