<div id="register-page">
    <form class="card" [formGroup]="registerForm" (ngSubmit)="register()" #registrationForm>
        <div class="card-header text-center" style="font-size: 1.5rem">
            Registration Form
        </div>
        <div class="card-body">
            <div class="form-group" id="email-group">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" formControlName="email" focusThis required>
                <div class="invalid-feedback" *ngIf="registerForm.controls.email.errors?.required">Please fill in this field</div>
                <div class="invalid-feedback" *ngIf="registerForm.controls.email.errors?.serverError">{{registerForm.controls.email.errors.serverError}}</div>
            </div>
            <div class="form-group" id="username-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" formControlName="username" required>
                <div class="invalid-feedback" *ngIf="registerForm.controls.username.errors?.required">Please fill in this field</div>
                <div class="invalid-feedback" *ngIf="registerForm.controls.username.errors?.serverError">{{registerForm.controls.username.errors.serverError}}</div>
            </div>
            <div class="form-group" id="password-group">
                <label for="password">Password:</label>
                <input type="text" id="password" class="form-control" formControlName="password" required>
                <div class="invalid-feedback" *ngIf="registerForm.controls.password.errors?.required">Please fill in this field</div>
                <div class="invalid-feedback" *ngIf="registerForm.controls.password.errors?.serverError">{{registerForm.controls.password.errors.serverError}}</div>
            </div>         
            <div class="form-group" id="verifyPassword-group">
                <label for="verifyPassword">Confirm password:</label>
                <input type="text" id="verifyPassword" class="form-control" formControlName="verifyPassword" required>
                <div class="invalid-feedback" *ngIf="registerForm.controls.verifyPassword.errors?.required">Please fill in this field</div>
                <div class="invalid-feedback" *ngIf="registerForm.controls.verifyPassword.errors?.serverError">{{registerForm.controls.verifyPassword.errors.serverError}}</div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <p class="separator"><span>or</span></p>
            <a class="btn btn-secondary" routerLink="/login">Sign in</a>
        </div>
    </form>
</div>