<div id="register-page">
    <form (submit)="register()" class="register-form">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" autofocus>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <label for="verifyPassword">Confirm password:</label>
        <input type="text" name="verifyPassword" id="verifyPassword">
        <input type="submit" value="Sign Up">
    </form>
    <div class="alternatives">
        <a href="#">Sign in</a>
    </div>
</div>